body {
	color: #424242;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

/* Do I need this? Why doesn't it inherit from body? */
h1 {
	font-style: bold;
	text-transform: uppercase;
}

#nav{
	line-height: 300%;
}

#nav a {
	color: #424242;
	text-decoration: none;
	text-transform: uppercase;
}

#nav #active{
	color:#fb15c2;
}

#content {
}